.scheduled-movie {
    padding: 50px 100px;
  }
  
  .searchForm input {
    border: 2px solid rgb(242, 76, 76);
    padding: 10px;
    font-size: 18px;
  }
  
  .searchForm button {
    background-color: rgb(242, 76, 76);
    color: rgb(41, 52, 98);
    padding: 12px;
    font-size: 18px;
    border: 0;
  }
  
  .scheduled-movie-container {
    margin: 10px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
*{
    background-color: rgb(254, 254, 254)
}
 