.scheduled-movie {
    padding: 50px 100px;
  }
  
  .searchForm input {
    border: 2px solid rgb(242, 76, 76);
    padding: 10px;
    font-size: 18px;
  }
  
  .searchForm button {
    background-color: rgb(242, 76, 76);
    color: rgb(41, 52, 98);
    padding: 12px;
    font-size: 18px;
    border: 0;
  }
  
  .scheduled-movie-container {
    margin: 10px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
*{
    background-color: rgb(254, 254, 254)
}
 

.img__wrap {
    position: relative;
    height: 50%;
    
  }
  
  .img__description {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(29, 106, 154, 0.9);
    color: #fff;
    visibility: hidden;
    opacity: 50%;
  
    /* transition effect. not necessary */
    transition: opacity .2s, visibility .2s;
  }
  
  .img__wrap:hover .img__description {
    visibility: visible;
    opacity: 1;
  }